body{
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(173, 137, 199);
}
img{
    width: 19%;
}
h1{
    text-align: center;
}
#tipo-1{
    background-color:rgb(149, 0, 255);
    border-radius: 6px;
    padding: 0.1px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
#tipo-2{
    background-color:rgb(173, 81, 194);
    border-radius: 6px;
    padding: 0.1px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
button{
    margin: auto;
    display: flex;
    background-color: red;
    border-radius: 6px;
    padding: 0.1px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-family: 'Press Start 2P', cursive;
    border-color: red;
    color: white;
}
h3{
    text-align: center;
}