body{
    font-family: 'Press Start 2P', cursive;
    background-color:pink;
}
img{
    width: 25%;
}
h1{
    text-align: center;
}
span{
    background-color:rgb(255, 0, 208);
    border-radius: 6px;
    padding: 0.1px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
button{
    margin: auto;
    display: flex;
    background-color: red;
    border-radius: 6px;
    padding: 0.1px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-family: 'Press Start 2P', cursive;
    border-color: red;
    color: white;
}